  html {
    /*Font size of 10px for easier rem calculations*/
    font-size: 10px;
  }

  /*General body rule*/
  body {
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: helvetica, sans-serif;
  }
 
  /*Font sizes for headers*/
  h1 {
    font-size: 4.2rem;
  }
  h2 {
    font-size: 3.7rem
  }
  h3 {
    font-size: 3.2rem;
  }

  /*The image of the band that goes within header tag: 
   -Is centered (margin: 0 auto)
   -Is displayed as block
   -It's max-width and height, make it responsive*/
  #image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  /*General information about Avenged Sevenfold is justify*/
  #about-avenged-sevenfold {
    text-align: justify;
  }
 
  /*The information about their discography is justify*/
  ul {
    text-align: justify;
  }

  /*Font size of footer setted as monospace*/
  footer {
    font-family: monospace;
  }  

  